/*Google Icon section*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body{
    font-size: small;
    background: #fff;
    color: #222;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}


/*--------------------------Body Section------------------------*/


/*--------------------------Header Section----------------------*/

/*Main Header Area*/


/*Left Area of Header*/


/*Right Area of Header*/


/*-----------------------Main Body Section----------------------*/


/*-----------------------Footer Section-------------------------*/